body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}
.no-padding{
    padding: 0;
}
.pad-lt-4{
    padding-left: 4px;
}
.pad-rt-4{
    padding-right: 4px;
}
.error_text{
    @include font-size(11); 
    color: $Danger;
    line-height: 15px;
    padding-top: 5px;
    padding-left: 23px;
    display: inline-block;    
}
.form-label-group{
    margin-bottom: 16px;
}
.triangle{
    width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
    &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #999;
        transform: rotate(45deg);
        top: 25px;
        left: 25px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
      }
}
.reject_btn{
    a{
        @include font-size(12);
        line-height: 16px;
        color: $Waterloo;
        &:hover{
            color: $Danger;
            text-decoration: none;
        }
    }
}

.involved_selection{
    @include flex;
    .form-group{
        margin-right: 20px;
    }
}

/* ------custom file upload css --------*/
.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 1px solid #DEE8F2;color: #34495e;cursor:pointer;height:56px;line-height:56px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative; border-radius: 4px; margin-bottom: 16px;}
.file-upload .file-select .file-select-button{background:#DEE8F2;padding:0 23px;display:inline-block;height:56px;line-height:56px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{box-shadow: 0 0 4px 0 rgba(5,148,255,0.3);border-color:#B1C8D9;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#DEE8F2;color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{box-shadow: 0 0 4px 0 rgba(5,148,255,0.3);border-color:#B1C8D9;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:linear-gradient(to bottom, #0066b3 0%, #3f98d4 100%);color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}

/* ------Modal css --------*/
.modal-backdrop {
    background-color: $Outer_Space;
    &.show{
        @include opacity(1);
    }
 }
 .modal-content{
    @include border-radius(8px);
}
.modal.show .modal-dialog, .modal-content{
    position: static !important; 
}
.modal-content{
    padding: 38px 0;
    .modal_para{
        h3{
            max-width: 300px;
            margin: 0 auto;
            text-align: center;
        }
    }
    .group_btns{
        @include justify-content(center);
        button{
            margin-right: 8px;
        }
        
    }
}
.modal{
    button{
        &.close{
            @include abs-pos(10px, 48px, auto, auto);            
            color: $white;
            @include opacity(1);
            @include font-size(32);
            line-height: 35px;
            &:hover{
                @include opacity(1);
            }
        }
    }
}
#update, #application { 
    .form-label-group{        
        margin: 36px 40px 40px 40px;
    }
    .update_btn{
        text-align: center;
    }
    textarea{
        min-height: 80px;
        resize: none;
        padding-top: 30px;
    }
}

/* ------nd of EModal css --------*/

.nav-tabs {
    display:none;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

.nicescroll-box{
    // height: 270px; // to custom scroll
    height: auto;
}
.nicescroll-cursors{
    border: 1px solid #0066b3 !important;
    background-color: #0066b3 !important; 
}