// color 
$Danger: #FF3737;
$Dodger_Blue: #25A1FF;
$Catskill_White: #DEE8F2;
$Catskill_Whitev2:#E7EAF3;
$border_clr: #DEE8F2;
$border_hvr: #B1C8D9;
$Shuttle_Gray:#5C6B7E;
$Outer_Space: #33373A;
$white: #ffffff;
$Pumpkin: #FF781F;
$Blaze_Orange: #FF6600;
$Shakespeare: #3F98D4;
$Amber: #FEC100;
$Tropical_Blue: #B9DCF6;
$Waterloo:#818292;
$Crusta:#FF8737;
$Mystic: #E7EAF1;
$PeriwinkleGray:#C7D0EB;
$Denim:#1576BE;
$Onahau: #D3ECFF;
