.approval{
    box-shadow: 0 2px 12px 0 rgba(43,102,146,0.09);
    h3{
        padding-top: 37px;
        text-align: center;
        padding-bottom: 20px;
    }
    .approval_parent{
        @include flex;
        @include justify-content(center);
        .approval_check{
            padding-bottom: 23px;
            white-space: nowrap;            
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            max-width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            padding-left: 20px;
        }
    }
}