.approval_check{
    .form-group {
        display: block;
        margin-bottom: 0px;
        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
          }
          label {
            position: relative;
            cursor: pointer;
            @include font-size(16);
            color:$Waterloo;
            line-height: 22px;
            margin-bottom: 0;
            &:before {
                content:'';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid $Crusta;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                padding: 6px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 7px;
                @include border-radius(4px);
                top: -1px;                
            }
          }
      }
  }

  .approval_check{
      @include flex;
      @include justify-content(center);
    .form-group {
        padding-right: 50px;
        @include belowDesktop{
            padding-right: 24px;
        }
        @include minTablet{
            padding-right: 12px;
        }
        input{
            &:checked {
                & + label{
                    &:after {
                        content: '';
                        display: block;
                        @include abs-pos(5px, auto, auto, 6px);                        
                        width: 5px;
                        height: 9px;
                        border: solid $white;
                        border-width: 0 1px 1px 0;
                        transform: rotate(45deg)
                    }
                    &:before{
                        content: '';
                        background: $Crusta;
                    }
                }
            }
        }
    }
  }



  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: $Crusta;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }