
/* --------Input floating label------ */
.float-lab{
    position: relative;
    label{
        @include abs-pos(20px,auto, auto, 23px ); 
        @include transition(all,.2s,ease);
        color:$Shuttle_Gray;
    }
    &.input_float_lbl{
        label{
            @include transform(translate(0, -10px)); 
            @include font-size(11);

        }
        input{
            padding-top: 34px;
        }
    }
}

// input:focus ~ label, input:valid ~ label{
//     @include transform(translate(0, -10px)); 
//     @include font-size(11);
// }
// input:focus ~ label + input, input:valid ~ label + input{
//     padding-top: 34px;
// }

/* --------Select box floating label------ */

#customDropdown  {
    position: relative;
    cursor: pointer;
    @include border-radius(4px);
    border: 1px solid $border_clr;
    align-items: center;
    border-radius: 4px;
    padding-left: 23px;
    padding-top: 23px;
    height: 56px;
    &:focus {
        border: 1px solid $border_hvr;
        box-shadow: 0 0 4px 0 rgba(5,148,255,0.3);
    }
    &.error{
        border: 1px solid $Danger;
        box-shadow: 0 0 4px 0 rgba(255,55,55,0.3);
    }
    span{
        display: block;
        line-height: 12px;
    }
}
span{
    &.valueHolder{
        @include transition(all,.2s,ease);
        color:$Shuttle_Gray;
        @include font-size(14);
        &.float-label{
            @include transform(translate(0, -10px)); 
            @include font-size(11);
        }
      }
      &.valueHolder1{
        color: $Outer_Space;
        @include font-size(14);
        margin-top: -6px;
      }
}

.dropContainer{
   position: absolute;
   top: 55px;
   left: -1px;
   overflow-y: auto;
   height:170px;
   width: 100.5%;
   background-color: #fff;
   display: none;
   text-align: left; 
}
.dropOption {
    height: 56px;
    border: 1px solid $border_clr;
    border-top: none;
    padding-top: 18px;
    padding-left: 23px;
    @include font-size(14);
    color: $Dodger_Blue;
    &:hover{
        background: rgba(222,232,242,.5);
        color: $Outer_Space;
    }
    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

#customDropdown{
    &.select_border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#customDropdown {
    &:before{
    content: "";
    border: solid $Danger;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;    
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 20px;
    pointer-events: none;
    transition: all .5s ease;        
    }
    &.select_border{
        &:before{
            content: "";
            border: solid $Danger;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            position: absolute;    
            transform: rotate(226deg);
            -webkit-transform: rotate(226deg);
            right: 20px;
            pointer-events: none;
        }
    }
}