header {   
    min-height: 72px; 
    nav{
        box-shadow: 0 4px 16px 0 rgba(43,102,146,0.09);
        height: 72px;  
        margin: 0 -15px;      
        .header_logo{
            flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            max-width: 25%;
            min-width: 25%;
            padding-left: 25px;
            position: relative;
            height: 72px;
            @include flex;
            @include align-items(center);
            &:before{
                content: "";
                position: absolute;
                width: 1px;
                height: 72px;
                top: 0;
                right: 0;
                background: $Catskill_Whitev2;
            }
            .navbar-brand{
                img{
                    @include belowDesktop{
                        max-width: 215px;
                    }
                    @include minTablet{
                        max-width: 154px;
                    }
                }
            }
        }
        .header_content{
            @include flex;
            @include justify-content(space-between);
            @include align-items(center);
            height: 72px;
            .header_heading{
                padding-left: 43px;
                @include flex;
                h2{
                    margin-bottom: 0;
                    @include minTablet{
                        font-size: 18px;
                    }
                    a{
                        color: $Outer_Space;
                        text-decoration: none;
                    }
                }
                h4{
                    line-height: 32px;
                    padding-left: 20px;
                    margin: 0;
                    a{
                        text-decoration: none;
                    }
                }
            }
            .header_logout{
                padding-left: 38px;
                padding-right: 48px;
                position: relative;
                height: 72px;
                @include flex;
                @include align-items(center);
                a{
                    color: $Blaze_Orange;
                    @include font-size(16);
                    text-decoration: none;
                    font-weight: 600;	
                    line-height: 22px;
                    &:hover{
                        color:$Waterloo;
                    }
                }
                &:before{
                    content: "";                    
                    width: 1px;
                    height: 72px;
                    background: $Catskill_Whitev2;
                    @include abs-pos(0px,auto, auto, 0px );
                }
            }
            .header_mid{
                width: 100%;
                @include flex;
                @include justify-content(space-between);
                @include align-items(center);
                .user_profile{
                    padding-right: 38px;
                    @include flex;
                    &:hover{
                        cursor: pointer;
                    }                    
                    .user{
                        width: 22px;
                        height: 22px;
                        display: inline-block;
                        background: url(../images/profile.png);
                        background-size: cover;
                        margin-right: 9px;
                    }
                    .user_text{ 
                        color: $Blaze_Orange;
                        @include font-size(16);
                        text-decoration: none;
                        font-weight: 600;
                        line-height: 22px;
                    }
                }
            }
        }
        
    }
}

.user_profile {
    &.dropdown-toggle{
        &:after{
            display: none;
        }
        & +.dropdown-menu{
            top:24px !important;
            left: -16px !important;
        }
    }
}