.left_pannel{
    position: relative;
    overflow: hidden;
    padding-top: 23.5px;
    // background: rgb(0,102,179); /* Old browsers */
    // background: -moz-linear-gradient(top, rgba(0,102,179,1) 0%, rgba(63,152,212,1) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(0,102,179,1) 0%,rgba(63,152,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(0,102,179,1) 0%,rgba(63,152,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066b3', endColorstr='#3f98d4',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(0deg, #0066B3 0%, #3F98D4 100%);
}
.add_applications{
    position: relative;
    z-index: 9;
    @include flex;
    @include align-items(center);
    &:hover{
        .outer{
            box-shadow: 0 1px 10px 0 rgba(133,202,255, .99);
            border: 1px solid rgba(255,255,255, .4);
        }
        .outer_inn{
            border: 1px solid rgba(255,255,255,0.7);
        }
    }
    .outer{
        box-shadow: 0 1px 10px 0 rgba(133,202,255, .2);
        border: 1px solid rgba(255,255,255, .2);        
        width: 57px;
        height: 57px;
        @include border-radius(50%);
        @include flex;
        @include justify-content(center);
        @include align-items(center);
        cursor: pointer;
        @include transition(all,.2s,ease);
        .outer_inn{
            @include transition(all,.2s,ease);
            border: 1px solid rgba(255,255,255,0.5);
            width: 51px;
            height: 51px;
            @include border-radius(50%);
            @include flex;
            @include justify-content(center);
            @include align-items(center);
            span{
                width: 44px;
                height: 44px;
                box-shadow: 0 2px 20px 0 rgba(133,202,255,0.8);
                @include border-radius(50%);
                background: $white;
                text-shadow: 0 2px 8px rgba(255,166,18,0.6);
                @include font-size(24);
                line-height: 24px;
                font-weight: 800;
                display: inline-block;
                color: $Pumpkin;
                @include flex;
                @include justify-content(center);
                @include align-items(center);
            }
        }
    }
}
.add_applications{
    padding-left: 23.5px;
    cursor: pointer;
    h4{
        padding-left: 10px;
        font-weight: 600;
        margin-bottom: 0;
    }
}
.appplication_section{
    padding-top: 18px;    
    padding-bottom: 35px;
    .head{
        margin-bottom: 18px;
    }
    ul {
        padding-left: 0;
        li{
            list-style: none;
            padding: 15px 23px 12px 42px;
            @include transition(all,.2s,ease);
            @include minTablet{
                padding: 15px 8px 12px 24px;
            }
            .lists{
                h4{
                    margin-bottom: 0;
                }
                .status{
                    p{
                        @include font-size(14);
                        font-weight: 600;
                        line-height: 19px;
                        color: $white;
                        margin-bottom: 0;
                        padding: 0;
                    }
                }
                .date{
                    color: $Tropical_Blue;
                    // @include opacity(.7);
                    @include font-size(12);
                }
            }
        }
    }
}

.appplication_section{
    ul{
        li{  
            .status{
                position: relative;
                &::before{
                    content: "";
                    width: 34px;
                    height: 34px;
                    @include abs-pos(-5px, auto, auto, -28px);
                }
            }
            &.wating_for_review{
                .status{
                    &::before{
                        background: url("../images/gray-point.svg");
                    }
                }
            }
            &.in_review{
                .status{
                    &::before{
                        background: url("../images/yellow-point.svg");
                    }
                }
            }
            &.approved{
                .status{
                    &::before{
                        background: url("../images/green-point.svg");
                    }
                }
            }
        }
    }
}

.appplication_section{
    ul{
        li{
            &.active{
                position: relative;
                background: $white;
                &:before{
                    content: "";
                    width: 4px;
                    height: 100%;
                    background: $Blaze_Orange;
                    @include abs-pos(0, auto, auto, 0);
                }
                .lists{
                    h4{
                        color: $Outer_Space;
                    }
                    .status{
                        p{
                            color: $Outer_Space;
                        }
                    }
                    .date{
                        color: $Shuttle_Gray;
                    }
                }
                &:hover{
                    box-shadow: none;
                    background: $white;
                }
            } 
            &:hover{
                box-shadow: -2px 0 3px 0 rgba(0,0,0,0.05), 0 2px 40px 0 rgba(133,202,255,0.5) inset;
                background: rgba(255,255,255,0.1);
                cursor: pointer;
            }           
        }
    }
}

.head{
    @include font-size(14);	
    font-weight: 800;	
    letter-spacing: 0.4px;	
    line-height: 19px;
    text-transform: uppercase;
    color: $white;
    padding-left: 23.5px;
}
.token_section{
    background: $Shakespeare;
    padding-top: 42px;
    padding-bottom: 220px;
    .head{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    ul {
        padding-left: 40px;
        display: none; // will remove later
        li{
            position: relative;
            list-style: none;
            padding-top: 24px;
            .active_token{
                .token_detail{
                    p{
                        @include font-size(14);
                        color: $Tropical_Blue;                        
                        line-height: 24px;  
                        margin: 0;
                        padding: 0;                      
                        span{
                            font-weight: 600;
                            color: $white;
                        }
                    }
                }
            }
            &:before{
                content: "";
                width: 4px;
                height: 20px;
                background: $Blaze_Orange;
                @include abs-pos(30px, auto, auto, -40px);
                box-shadow: 0 2px 6px 0 rgba(28,111,172,0.58), 2px 0 4px 0 rgba(0,0,0,0.5);
            }
        }
    }
}
.effect1{
    @include abs-pos(-70px,auto, auto, 0px );    
    background: url(../images/side-effect2.svg);
    width: 200px;
    height: 169px;
    background-repeat: no-repeat;
}
.effect3{
    @include abs-pos(-26px,-7px, 0px, auto );     
    background: url(../images/side-effect3.svg);
    width: 86px;
    height: 126px;
    background-repeat: no-repeat;
}
.effect2{
    @include abs-pos(auto, auto, 0px, 0 );     
    background: url(../images/side-effect1.svg);
    width: 120px;
    height: 144px;
    background-repeat: no-repeat;
}
.effect4{
    @include abs-pos(auto, -10px, 0, auto );     
    background: url(../images/side-effect5.svg);
    width: 160px;
    height: 114px;
    background-repeat: no-repeat;
}
.effect5{
    @include abs-pos(auto, 0, 200px, auto );     
    background: url(../images/side-effect4.svg);
    width: 50px;
    height: 114px;
    background-repeat: no-repeat;
}